#header-top {
  background: #1e88e5;
}
#header-bottom {
  background-color: #0994bc;
}
#sticky-nav {
  background-color: #0994bc;
}
#skills .skill-line {
  background: #0994bc;
}
#skills .skill-line .skill-bar .progress {
  background-color: #4783c2;
}
#skills .skill-line .skill-bar .determinate {
  background-color: #ffffff;
}
.cd-timeline-img {
  background-color: #0994bc;
}
.cd-timeline-content span {
  color: #0994bc;
}
.market-place ul li a {
  color: #0994bc;
}
#pricing-table .pricing .plan .thumbnail .btn {
  background-color: #0994bc;
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0994bc;
}
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0994bc;
}
.waves-me:focus {
  background-color: #0994bc;
}
.btn {
  background-color: #0994bc;
}
.btn:hover,
.btn:focus {
  background-color: #0994bc;
}
.interests ul li .fa {
  color: #0994bc;
}
